PORT=5000
DATABASE_URL=postgresql://postgres:S3@@@1303@db.yrakjnonabrqyicyvdam.supabase.co:5432/postgres
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production-sri-chakra-dairy-2024
FRONTEND_URL=https://your-frontend-url.vercel.app
LOG_LEVEL=info
SUPER_ADMIN_IDS=1,2,3
EMAIL_USER=donotreplythisisotp@gmail.com
EMAIL_PASS=jwkuexaybpynqubr
NODE_ENV=production
